@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

/* END: General styles */
/* START: Navbar styles */
/* .navbar {
  @apply flex justify-between items-center z-10 text-blue-100 border-b border-gray-100;
} */

.top-main-nav-link:hover {
  background-color: #f5f5f5;
}

.top-main-nav .search-box {
  background-color: #f5f5f5;
}

.nav-search-box:focus-within {
  border: solid 1px;
  border-color: rgb(249 115 22 / var(--tw-bg-opacity)) !important;
  --tw-bg-opacity: 1;
}

.sticky-top {
  background: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.btn-login {
  background-color: rgb(249 115 22 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  color: #fff;
}

.btn-login:hover {
  opacity: .8;
}

/* Login*/
.light-cyan-bg {
  background-color: #f5f5f5;
}

.login-box {
  color: #757575;
}

.login-form-input {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 2px;
  border: solid 1px #eee;
}

.login-form-input input {
  --tw-text-opacity: 1;
  color: rgb(102 102 102 / var(--tw-text-opacity));
}

.login-form-input:focus-within {
  border: solid 1px;
  border-color: rgb(249 115 22 / var(--tw-bg-opacity)) !important;
  --tw-bg-opacity: 1;
}

.login-form input:focus {
  outline: none;
}

.login-form input[type=checkbox] {
  accent-color: #ff5b22;
}

.login-form .orange-txt {
  color: rgb(249 115 22 / var(--tw-bg-opacity)) !important;
  --tw-bg-opacity: 1;
}

.green-btn-primary:hover,
.orange-btn-primary:hover {
  opacity: .8;
}

/* Login End */


/*=====MODAL START=====*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  width: 60%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: relative;
  transform: translateY(-20px);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.modal-content.show {
  transform: translateY(0);
  opacity: 1;
}

.close-button {
  margin-top: 5px;
  margin-right: 5px;
  padding: 8px;
  background-color: #666666;
  color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover {
  opacity: 0.8;
}

/*=====MODAL END=====*/

/* END: Navbar styles */
/* START: Hero styles */
.hero {
  @apply flex xl:flex-row flex-col relative z-0 max-w-[1440px] mx-auto;
  height: auto;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(128, 128, 128, 0.2);
}

.hero .content {
  position: relative;
  z-index: 1;
}

.hero .search-box {
  position: absolute;
  margin-top: 500px;
  margin-left: 4%;
  width: 92%;
  height: 90px;
  z-index: 3;
  background-color: #FFFFFF;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
}

.hero .search-box .search-box-item {
  border: solid 1px;
  border-color: #e6e6e6;
  height: 45px;
}

.hero .search-box .search-box-item:focus-within {
  border: solid 1px;
  border-color: rgb(249 115 22 / var(--tw-bg-opacity)) !important;
  --tw-bg-opacity: 1;
}

.hero .search-box input:focus {
  outline: none;
}


.hero .search-box .search-link {
  background-color: rgb(249 115 22 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  color: #fff;
}

.hero .search-box .search-link:hover {
  opacity: 0.8;
}

/* END: Hero styles */

/* START: Home styles */

.home__text-container {
  @apply flex flex-col items-start justify-start gap-y-2.5 text-black-100;
}

.home__filters {
  @apply mt-12 w-full flex-between items-center flex-wrap gap-5;
}

.home__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}

.home__cars-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}

.home__error-container {
  @apply mt-16 flex justify-center items-center flex-col gap-2;
}

/* END: Home styles */

/* START: Car Card styles */
.car-card {
  @apply flex flex-col p-6 justify-center items-start text-black-100 bg-primary-blue-100 hover:bg-white hover:shadow-md rounded-3xl;
}

.car-card__content {
  @apply w-full flex justify-between items-start gap-2;
}

.car-card__content-title {
  @apply text-[22px] leading-[26px] font-bold capitalize;
}

.car-card__price {
  @apply flex mt-6 text-[32px] leading-[38px] font-extrabold;
}

.car-card__price-dollar {
  @apply self-start text-[14px] leading-[17px] font-semibold;
}

.car-card__price-day {
  @apply self-end text-[14px] leading-[17px] font-medium;
}

.car-card__image {
  @apply relative w-full h-40 my-3 object-contain;
}

.car-card__icon-container {
  @apply flex group-hover:invisible w-full justify-between text-grey;
}

.car-card__icon {
  @apply flex flex-col justify-center items-center gap-2;
}

.car-card__icon-text {
  @apply text-[14px] leading-[17px];
}

.car-card__btn-container {
  @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
}

/* END: Car Card styles */

/* START: Car Details styles */
.car-details__dialog-panel {
  @apply relative w-full max-w-lg max-h-[90vh] overflow-y-auto transform rounded-2xl bg-white p-6 text-left shadow-xl transition-all flex flex-col gap-5;
}

.car-details__close-btn {
  @apply absolute top-2 right-2 z-10 w-fit p-2 bg-primary-blue-100 rounded-full;
}

.car-details__main-image {
  @apply relative w-full h-40 bg-pattern bg-cover bg-center rounded-lg;
}

/* END: Car Details styles */

/* START: Custom Filter styles */
.custom-filter__btn {
  @apply relative w-full min-w-[127px] flex justify-between items-center cursor-default rounded-lg bg-white py-2 px-3 text-left shadow-md sm:text-sm border;
}

.custom-filter__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

/* END: Custom Filter styles */

/* START: Footer styles */
.footer {
  @apply flex flex-col text-black-100 mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}

/* END: Footer styles */

/* START: searchbar styles */
.searchbar {
  @apply flex items-center justify-start max-sm:flex-col w-full relative max-sm:gap-4 max-w-3xl;
}

.searchbar__item {
  @apply flex-1 max-sm:w-full flex justify-start items-center relative;
}

.searchbar__input {
  @apply w-full h-[48px] pl-12 p-4 bg-light-white rounded-r-full max-sm:rounded-full outline-none cursor-pointer text-sm;
}

/* END: searchbar styles */

/* START: search manufacturer styles */
.search-manufacturer {
  @apply flex-1 max-sm:w-full flex justify-start items-center;
}

.search-manufacturer__input {
  @apply w-full h-[48px] pl-12 p-4 rounded-l-full max-sm:rounded-full bg-light-white outline-none cursor-pointer text-sm;
}

.search-manufacturer__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.search-manufacturer__option {
  @apply cursor-default select-none py-2 pl-10 pr-4;
}

/* END: search manufacturer styles */


/**
*Tour Style Start
*/
.tour-card-list {
  @apply flex p-6 items-start text-black-100 mx-8 mt-4 flex-wrap;
}

.title-banner {
  margin-top: 120px !important
}

.tour-card-list .title {
  background-color: #f5f5f5;
}

.tour-card-sub-list {
  @apply flex p-6 items-start text-black-100 mx-8 my-16 flex-wrap rounded-2xl;
}


select {
  height: 40px;
  padding: 10px;
  border-radius: 6px
}


.tour-card-list option:hover {
  background-color: #f5f5f5;
}


.tour-item,
.tour-item-search {
  @apply rounded-xl overflow-hidden m-3;
}

.tour-item {
  width: calc((100% / 4) - 1.5rem);
  transition-duration: 0.2s;
  border: solid 1px;
  border-color: #e6e6e6;
}

.search-item-box {
  border: solid 1px;
  border-color: #e6e6e6;
  margin-bottom: 15px;
}

.search-item-box:hover {
  background-color: #f5f5f5;
}


.filter-main-div {
  border: solid 1px;
  border-color: #e6e6e6;
  color: rgb(115 115 115);
}

.filter-background {
  background-color: #f5f5f5;
}

.list-tour-filter-title {
  border-bottom: solid 1px;
  border-color: #e6e6e6;
}

.filter-option {
  border-radius: 6px;
}

.filter-option:hover {
  background-color: #f5f5f5;
}

.filter-option:has(.option-check:checked) {
  background-color:#f5f5f5;
  color: #F97316;

}

.job-filter input[type=checkbox] {
  width: 17px;
  height: 17px;
  accent-color: #FC5F14;
}

.green-bd-bottom-1 {
  border-bottom: solid 1px;
  border-color: #e6e6e6;
}


.language-support {
  color: #FFFFFF;
  background-color: rgb(8 145 178);
  border-radius: 6px;
}

.sales {
  background-color: #fff0e5;
  border: solid 1px;
  border-color: rgb(249 115 22 / var(--tw-bg-opacity));
  color: rgb(249 115 22 / var(--tw-bg-opacity));
  border-radius: 6px;
  --tw-bg-opacity: 1;
}



.tour-group-item {
  width: calc((100% / 6) - 1.5rem);
  transition-duration: 0.2s;
}

.tour-group-item img {
  filter: brightness(90%);
}

.tour-group-item-title {
  color: rgb(255, 255, 255);
  font-weight: 500;
  position: absolute;
  font-size: 20px;
  line-height: 26px;
  transform: translateY(-40px);
  padding-left: 15px;
}

.tour-sublist-item {
  @apply rounded-lg bg-white overflow-hidden shadow-lg m-3;
}

.tour-card-sub-list-title {
  @apply font-bold text-lg flex;
}

.tour-card-sub-list-title img {
  transform: translateY(-6px);
}

.tour-sublist-item {
  width: calc((100% / 5) - 1.5rem);
  transition-duration: 0.2s;
}

.paging .item {
  background-color: #fff0e5;
  border: solid 1px;
  border-color: rgb(249 115 22 / var(--tw-bg-opacity));
  color: rgb(249 115 22 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  border-radius: 100%;
  width: 35px;
  height: 35px;
}

.paging .item:hover {
  background-color: rgb(249 115 22 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  color: #fff;
}

.tour-price {
  position: absolute;
  bottom: 20px;
  left: 0;
  padding: 3px 10px 2px 10px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.tour-item:hover .tour-price {
  left: 5px;
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.tour-item:hover,
.tour-sublist-item:hover,
.tour-detail-subitem:hover,
.tour-group-item:hover,
.tour-by-location-item:hover {
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-box-shadow: 0 22px 40px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 22px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0 22px 40px rgba(0, 0, 0, 0.15);
}

.tour-item img {
  aspect-ratio: 350 / 233;
}

.time-icon {
  transform: translateY(-3px);
}

.tour-item .tour-tite {
  height: 56px;
}

.tour-sublist-item .tour-tite {
  height: 35px;
}

.orange-start {
  color: #FF9C00;
}

.tour-list-detail {
  @apply flex p-6 items-start text-black-100 m-8 flex-wrap;
}

.tour-detail {
  @apply flex p-6 items-start text-black-100 m-8 flex-wrap;
}

.tour-detail {
  margin-top: 120px !important
}

.main-detail-image {
  height: 350px;
}

.sub-detail-image {
  height: 100px;
}

.sub-detail-image-item {
  width: calc((100% / 5) - 0.5rem);
  transition-duration: 0.2s;
}


.tour-detail-image {
  width: 57%;
}

.tour-detail-info {
  width: 43%;
}

.tour-detail-title {
  height: 45px;
}

.tour-detail-schedule-title img {
  width: 32px;
  height: 32px;
}


.tour-schedule-item-image {
  width: 90px;
  height: auto;
  margin-top: 10px;
}

.tour-detail-schedule-icon {
  transform: translateX(-3px);
}

.tour-detail-paid-icon {
  width: 28%;
}

.comment-title img {
  border-radius: 50%;
}

.tour-detail-date input {
  outline: none;
}

.tour-by-location-item {
  width: calc((100% / 7) - 0.5rem);
  transition-duration: 0.2s;
  background-color: #fff;
}

.tour-by-location-item img {
  height: 135px;
  width: 100%;
}

@media (max-width: 600px) {
  .tour-item {
    width: 100%;
  }
}

/*
* Tour Style End
*/

/*
* ImageCarousel Start
*/
.sliderContainer {
  width: 95%;
  margin: auto;
}

.mainSliderWrapper {
  position: relative;
}

.mainSlider {
  margin-bottom: 10px;

}

.mainImage {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.thumbnailContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumbnail {
  border: 2px solid transparent;
  transition: border 0.3s;
  cursor: pointer;
}

.thumbnail.active {
  border: 2px solid rgb(239 68 68);
}

.thumbnailImage {
  width: 100px;
  height: auto;
}

.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}

.prevButton:hover, .nextButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/*
* ImageCarousel End
*/